<!--
<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
-->
<mat-vertical-stepper [linear]="isLinear" #stepper>
	<mat-step [stepControl]="firstFormGroup">
		<form [formGroup]="firstFormGroup">
			<ng-template matStepLabel>Contact information</ng-template>
			<!--
			<mat-form-field>
				<mat-label>Name</mat-label>
				<input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
-->
			<br>
			<mat-form-field appearance="fill">
				<mat-label>Enter your email</mat-label>
				<input matInput placeholder="example@nestle.com" [formControl]="email" required>
				<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
			</mat-form-field>
			<br>
			<br>
			<div>
				<button mat-stroked-button matStepperNext>Next</button>
			</div>
		</form>
	</mat-step>
	<mat-step [stepControl]="secondFormGroup">
		<form [formGroup]="secondFormGroup">
			<ng-template matStepLabel>Application name & functionality</ng-template>
			<br>
			<mat-list>
				<mat-list-item>
					<mat-form-field>
						<mat-label>Application name</mat-label>
						<input matInput formControlName="secondCtrl" placeholder="Ex. TheNest"
               required>
      </mat-form-field>
				</mat-list-item>
				<!--<mat-divider></mat-divider>-->
				<mat-list-item>Environment:</mat-list-item>
				<div>
					<mat-checkbox>Prod</mat-checkbox>
					<br>
					<mat-checkbox>Pre-Prod</mat-checkbox>
				</div>

    <br>
			<mat-label>Desired onboarding date:</mat-label>
			<br>

			<mat-form-field>
				<mat-label>Choose a date</mat-label>
				<input matInput [matDatepicker]="picker">
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>

			</mat-form-field>
			</mat-list>
			
			<br>
			<div>
				<button mat-stroked-button matStepperPrevious>Back</button>
				<button mat-stroked-button matStepperNext>Next</button>
			</div>
		</form>
	</mat-step>
	<mat-step [stepControl]="thirdFormGroup">
		<form [formGroup]="thirdFormGroup">
			<ng-template matStepLabel>Application architecture</ng-template>
			<br>
			<mat-label>Please provide document/diagram that describes the architecture of your application</mat-label>
			<br>
			<br>
			<button mat-flat-button color="primary">Upload file</button>
			<br>
			<br>
			<div>
				<button mat-stroked-button matStepperPrevious>Back</button>
				<button mat-stroked-button matStepperNext>Next</button>
			</div>
		</form>
	</mat-step>
	<mat-step [stepControl]="fourthFormGroup" optional>
		<form [formGroup]="fourthFormGroup">
			<ng-template matStepLabel>Application KPIs</ng-template>

			<br>
			<mat-label>Briefly describe your KPIs</mat-label>
			<br>
			<br>
			<mat-form-field appearance="fill">

				<textarea [matTextareaAutosize] matInput></textarea>
			</mat-form-field>

			<div>
				<button mat-stroked-button matStepperPrevious>Back</button>
				<button mat-stroked-button matStepperNext>Next</button>
			</div>
		</form>
	</mat-step>

	<mat-step>
		<ng-template matStepLabel>Summary</ng-template>
		<br>
		<mat-card>
			<mat-list role="list">
				<mat-list-item role="listitem">Contact name:</mat-list-item>
				<mat-list-item role="listitem">Application name:</mat-list-item>
        <mat-list-item role="listitem">Application environment:</mat-list-item>
        <mat-list-item role="listitem">Desired onboarding date:</mat-list-item>
				<mat-list-item role="listitem">Application architecture:</mat-list-item>
				<mat-list-item role="listitem">Application KPIs:</mat-list-item>
				<br>

		</mat-list>
		</mat-card>
		<br>
		<div>
			<!--<button mat-button matStepperPrevious>Back</button>->>
			<!--<button mat-button (click)="stepper.reset()">Reset</button>-->
			<button mat-flat-button color="primary">Submit</button>
		</div>
	</mat-step>
</mat-vertical-stepper>

 <a [title]="login" [routerLink]="['/login']"> daskdjs </a> 